spring:
  cloud:
    function:
      definition: notification; mail;
    stream:
      bindings:
        notification-in-0:
          destination: notification
          group: notification-consumer
          content-type: application/json
          error-handler-definition: notificationErrorHandler
          consumer:
            use-native-decoding: true
            max-attempts: 3
            back-off-initial-interval: 1000
            back-off-max-interval: 10000
            back-off-multiplier: 2.0
            concurrency: 3
        mail-in-0:
          destination: mail
          group: mail-consumer
          content-type: application/json
          error-handler-definition: mailErrorHandler
          consumer:
            use-native-decoding: true
            max-attempts: 3
            back-off-initial-interval: 1000
            back-off-max-interval: 10000
            back-off-multiplier: 2.0
            concurrency: 3
      kafka:
        binder:
          brokers: localhost:9092
        bindings:
          mail-in-0:
            consumer:
              configuration:
                key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
                value.deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
                spring.json.trusted.packages: com.threadly.notification.adapter.kafka.mail.dto
                spring.json.use.type.headers: false
                spring.json.value.default.type: com.threadly.notification.adapter.kafka.mail.dto.MailEvent
          notification-in-0:
            consumer:
              configuration:
                key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
                value.deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
                spring.json.trusted.packages: com.threadly.notification.adapter.kafka.notification.dto
                spring.json.use.type.headers: false
                spring.json.value.default.type: com.threadly.notification.adapter.kafka.notification.dto.NotificationEvent