spring:
  config:
    import:
      - classpath:application-kafka.yml
      - classpath:application-persistence.yml
      - classpath:application-redis-prod.yml
  mail:
    host: smtp.naver.com
    port: 587
    username: ${MAIL.NAME}
    password: ${MAIL.PASSWORD}
    properties:
      mail:
        smtp:
          debug: true
          auth: true
        starttls:
          enable: true


server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include:
          - metrics
          - prometheus
          - health
          - info
          - bindings
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

springdoc:
  api-docs:
    path: /v3-notification/api-docs
  swagger-ui:
    path: /swagger-ui
    config-url: /v3-notification/api-docs/swagger-config
    disable-swagger-default-url: true